# Copy this file to .env and adjust values
# cp .env.example .env

# MariaDB
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mycourt
MYSQL_USER=mycourt
MYSQL_PASSWORD=mycourt
MYSQL_PORT=3306

# MailHog
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025

# Court App
COURT_PORT=80

# Xdebug: true = DEV (with debug), false = PROD (without debug)
INSTALL_XDEBUG=true