/.idea/
/.settings/
/nbproject/

composer.phar
composer.lock

Desktop.ini
Thumbs.db

.DS_Store

.env
/tmp
/config/autoload/local.php
/config/autoload/project.php
config/secrets.php

